# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Bicep
*.parameters.json
!*.template.parameters.json

# Local files
.DS_Store
*.log
